.App {
  text-align: center;
}

.mydiv {
  box-decoration-break: slice;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px rgb(161, 216, 90);
  padding:10px;
}
.gallery{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgb(210, 212, 89);

}
.button{
  background-color: rgb(203, 228, 171);
  color:black;

}
.input{
  background-color:rgb(203, 228, 171);
  color:black;
}
.item{
  width:40%;
  margin: 5px;
}
